/* Housing.css */
.housing {
    text-align: center;
    padding: 15px;
    background-color: blanchedalmond;

}

.housing h1 {
    font-size: 20px;
}

.house-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.house {
    width: 40%; /* Reduce the width of the house blocks */
    margin: 7px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: background-color 0.3s;
}

.house:hover {
    background-color: #f5f5f5;
}

.house-images img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    margin: 10px 0;
    max-width: 150px;
    height: 150px; /* Set the image size to 150x150 pixels */
}

.house-details {
    text-align: left;
}

.house-details h2 {
    font-size: 18px; /* Reduce the font size for house titles */
    color: #333;
    margin: 5px 0; /* Reduce the margin around titles */
}

.house-details p {
    font-size: 14px; /* Reduce the font size for property details */
    color: #666;
    margin: 3px 0; /* Reduce the margin around details */
}

.house-details ul {
    list-style-type: disc;
    margin-left: 20px;
}

.house-details ul li {
    font-size: 14px; /* Reduce the font size for feature details */
    color: #666;
    margin: 3px 0; /* Reduce the margin around feature details */
}

.house-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.house-details button {
    align-self: flex-end;
}

/* Add this to your Housing.css file */