.navbar {
    background-color: rgba(79, 34, 17, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%; /* Reduced the top and bottom padding */
}

.header {
    position: sticky;
    height: 100px;
    top: 0;
    z-index: 1;
}

.navbar img {
    padding-left: 15%;
    width: 100%;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%; /* Increased the right padding */
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    border-radius: 5px;
    transform: translate(0, 0); /* Added this to create a subtle movement on hover */
}

.menu a:hover {
    color: aqua;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #00ffff;
    transform: translate(0, -2px); /* Added this to make the tabs pop or move slightly on hover */
}

.explore-button {
    background-color: #70e119;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.explore-button:hover {
    background-color: #1966e1;
    color: #1966e1;

}
