/* Footer.css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #007BFF;
}

.footer p {
    margin: 0;
    font-size: 16px;
}
.footer .social-links img{
    padding: 1%;
    width: 44px !important;
    height: 44px !important;
}
.footer-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.footer-nav{
    display: flex;
    flex-direction: column;
}
.row,.footer-nav{
    width: 20%;
}
